<div id="<%= dom_id daily_transaction %>">
  <p>
    <strong>Currency:</strong>
    <%= daily_transaction.currency_id %>
  </p>

  <p>
    <strong>Trans:</strong>
    <%= daily_transaction.trans_id %>
  </p>

  <p>
    <strong>Trans date:</strong>
    <%= daily_transaction.trans_date %>
  </p>

  <p>
    <strong>Posted date:</strong>
    <%= daily_transaction.posted_date %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= daily_transaction.created_by %>
  </p>

  <p>
    <strong>Posted by:</strong>
    <%= daily_transaction.posted_by %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= daily_transaction.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= daily_transaction.status %>
  </p>

</div>
