<div id="<%= dom_id currency %>">
  <p>
    <strong>Name en:</strong>
    <%= currency.name_en %>
  </p>

  <p>
    <strong>Name ar:</strong>
    <%= currency.name_ar %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= currency.code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= currency.status %>
  </p>

</div>
