<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>User group:</strong>
    <%= user.user_group_id %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= user.locale %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= user.verified %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= user.deleted %>
  </p>

  <p>
    <strong>Locked:</strong>
    <%= user.locked %>
  </p>

  <p>
    <strong>Unlock token:</strong>
    <%= user.unlock_token %>
  </p>

  <p>
    <strong>Login attempts:</strong>
    <%= user.login_attempts %>
  </p>

  <p>
    <strong>Failed attempts:</strong>
    <%= user.failed_attempts %>
  </p>

</div>
