<div id="<%= dom_id daily_transaction_detail %>">
  <p>
    <strong>Daily transaction:</strong>
    <%= daily_transaction_detail.daily_transaction_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= daily_transaction_detail.account_id %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= daily_transaction_detail.cost_center_id %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= daily_transaction_detail.currency_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= daily_transaction_detail.description %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= daily_transaction_detail.debit %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= daily_transaction_detail.credit %>
  </p>

  <p>
    <strong>Item date:</strong>
    <%= daily_transaction_detail.item_date %>
  </p>

</div>
