<div id="<%= dom_id setting %>">
  <p>
    <strong>Key:</strong>
    <%= setting.key %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= setting.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= setting.value %>
  </p>

  <p>
    <strong>Boolean value:</strong>
    <%= setting.boolean_value %>
  </p>

  <p>
    <strong>Value1 ar:</strong>
    <%= setting.value1_ar %>
  </p>

  <p>
    <strong>Value1 en:</strong>
    <%= setting.value1_en %>
  </p>

  <p>
    <strong>Value2 ar:</strong>
    <%= setting.value2_ar %>
  </p>

  <p>
    <strong>Value2 en:</strong>
    <%= setting.value2_en %>
  </p>

  <p>
    <strong>Text1 ar:</strong>
    <%= setting.text1_ar %>
  </p>

  <p>
    <strong>Text1 en:</strong>
    <%= setting.text1_en %>
  </p>

  <p>
    <strong>Text2 ar:</strong>
    <%= setting.text2_ar %>
  </p>

  <p>
    <strong>Text2 en:</strong>
    <%= setting.text2_en %>
  </p>

</div>
