<div id="<%= dom_id cost_center %>">
  <p>
    <strong>Name en:</strong>
    <%= cost_center.name_en %>
  </p>

  <p>
    <strong>Name ar:</strong>
    <%= cost_center.name_ar %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= cost_center.parent %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cost_center.status %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= cost_center.deleted %>
  </p>

  <p>
    <strong>Deleted by:</strong>
    <%= cost_center.deleted_by %>
  </p>

  <p>
    <strong>Deleted date:</strong>
    <%= cost_center.deleted_date %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= cost_center.created_by %>
  </p>

</div>
