<div id="<%= dom_id account %>">
  <p>
    <strong>Name ar:</strong>
    <%= account.name_ar %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= account.name_en %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Parent account:</strong>
    <%= account.parent_account %>
  </p>

  <p>
    <strong>Final account:</strong>
    <%= account.final_account %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= account.notes %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Account nature:</strong>
    <%= account.account_nature %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= account.credit %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= account.debit %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

</div>
